In [1]:
# 주성분 분석용 패키지
from sklearn.decomposition import PCA
# 주성분 분석 결과를 DataFrame으로 확인할 수 있는 기능을 제공하는 패키지
from pca import pca 
# 표준화 처리 패키지
from sklearn.preprocessing import StandardScaler

from pandas import read_excel, DataFrame

from matplotlib import pyplot as plt
import seaborn as sb

import sys
import os
from sklearn.decomposition import PCA
# 주성분 분석 결과를 DataFrame으로 확인할 수 있는 기능을 제공하는 패키지
from pca import pca 
# 표준화 처리 패키지

In [2]:
import pandas as pd
from pandas import DataFrame
from pandas import read_excel, pivot_table
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [3]:
train = pd.read_excel('한국복지패널조사.xlsx')
train

,h17_id,h17_ind,h17_sn,h17_merkey,h_new,h_new1,h17_cobf,p17_wsc,p17_wsl,p17_wgc,...,wc17_64,wc17_65,wc17_5aq4,wc17_5aq5,wc17_5aq6,h17_pers_income1,h17_pers_income2,h17_pers_income3,h17_pers_income4,h17_pers_income5
0,2,1,1,20101,0,0,NaN,0.255099,0.255098,1301.779156,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1,3,1,1,30101,0,0,NaN,0.369345,0.369345,1884.782338,...,NaN,NaN,NaN,NaN,NaN,NaN,2064.0,NaN,0,NaN
2,4,1,1,40101,0,0,NaN,0.228046,0.228400,1163.730163,...,NaN,NaN,NaN,NaN,NaN,NaN,1200.0,NaN,0,NaN
3,6,1,1,60101,0,0,NaN,0.524368,0.534658,2675.871234,...,1.0,.,1.0,3.0,4.0,3216.0,NaN,NaN,0,NaN
4,6,1,1,60101,0,0,NaN,0.851223,0.851223,4343.829280,...,4.0,.,1.0,4.0,3.0,NaN,1680.0,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16586,12010,17,1,120101701,2,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10350.0,NaN,NaN,0,NaN
16587,12010,17,1,120101701,2,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
16588,12010,17,1,120101701,2,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
16589,12011,17,1,120111701,2,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,7200.0,NaN,680.0,0,NaN
16590,12011,17,1,120111701,2,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,180.0,NaN,0,NaN

In [4]:
df = train.copy()
df

,h17_id,h17_ind,h17_sn,h17_merkey,h_new,h_new1,h17_cobf,p17_wsc,p17_wsl,p17_wgc,...,wc17_64,wc17_65,wc17_5aq4,wc17_5aq5,wc17_5aq6,h17_pers_income1,h17_pers_income2,h17_pers_income3,h17_pers_income4,h17_pers_income5
0,2,1,1,20101,0,0,NaN,0.255099,0.255098,1301.779156,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1,3,1,1,30101,0,0,NaN,0.369345,0.369345,1884.782338,...,NaN,NaN,NaN,NaN,NaN,NaN,2064.0,NaN,0,NaN
2,4,1,1,40101,0,0,NaN,0.228046,0.228400,1163.730163,...,NaN,NaN,NaN,NaN,NaN,NaN,1200.0,NaN,0,NaN
3,6,1,1,60101,0,0,NaN,0.524368,0.534658,2675.871234,...,1.0,.,1.0,3.0,4.0,3216.0,NaN,NaN,0,NaN
4,6,1,1,60101,0,0,NaN,0.851223,0.851223,4343.829280,...,4.0,.,1.0,4.0,3.0,NaN,1680.0,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16586,12010,17,1,120101701,2,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10350.0,NaN,NaN,0,NaN
16587,12010,17,1,120101701,2,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
16588,12010,17,1,120101701,2,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
16589,12011,17,1,120111701,2,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,7200.0,NaN,680.0,0,NaN
16590,12011,17,1,120111701,2,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,180.0,NaN,0,NaN

In [5]:
df = train[['p1705_9','p1705_10','p1705_11','p1705_12','p1705_13','p1705_14','p1705_15','p1705_16','p1705_17','p1705_18','p1705_19', 'h17_reg5', 'h17_g4', 'h17_g6', 'p1702_8aq1', 'h17_eco9']]
df 
dp_list = ['p1705_9','p1705_10','p1705_11','p1705_12','p1705_13','p1705_14','p1705_15','p1705_16','p1705_17','p1705_18','p1705_19']
train = pd.DataFrame(df)
train

,p1705_9,p1705_10,p1705_11,p1705_12,p1705_13,p1705_14,p1705_15,p1705_16,p1705_17,p1705_18,p1705_19,h17_reg5,h17_g4,h17_g6,p1702_8aq1,h17_eco9
0,2.0,3.0,1.0,2.0,2.0,2.0,3.0,1.0,1.0,1.0,2.0,1,1945,4,NaN,NaN
1,3.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,3.0,1.0,3.0,1,1948,3,172.0,942.0
2,1.0,4.0,1.0,1.0,2.0,1.0,4.0,1.0,1.0,1.0,1.0,1,1942,7,100.0,762.0
3,1.0,4.0,1.0,2.0,2.0,2.0,4.0,1.0,1.0,1.0,1.0,1,1962,6,268.0,855.0
4,1.0,4.0,1.0,3.0,1.0,1.0,4.0,1.0,1.0,1.0,3.0,1,1963,5,140.0,399.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16586,1.0,4.0,1.0,1.0,1.0,1.0,4.0,1.0,1.0,1.0,1.0,2,1975,7,833.0,222.0
16587,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,2,1976,7,NaN,NaN
16588,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2009,3,NaN,NaN
16589,1.0,4.0,1.0,2.0,1.0,1.0,4.0,1.0,1.0,1.0,1.0,3,1964,7,NaN,248.0
16590,1.0,4.0,1.0,1.0,1.0,1.0,4.0,1.0,1.0,1.0,1.0,3,1964,7,NaN,NaN